/* OUTER DIV BACKGROUND IMAGE */
.p-landWrap {
  background: url("pexels-sathesh.jpg") no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  min-height: 300px;
  min-width: 300px;
}
/* ------------------------------------------------------------------ */

/* FIRST ROW */
/* ------------------------------------------------------------------ */
.p-landWrap .p-landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-landWrap .p-landing h1 {
  font-family: "New Tegomin", serif;
  padding: 20px;
  color: aquamarine;
}

.p-landWrap .p-landing > button {
  border-radius: 20px;
  width: 6em;
}
/* ------------------------------------------------------------------ */

/* COMMON */
.p-landWrap button,
.p-landWrap a {
  color: aquamarine;
  border-color: aquamarine;
  font-family: "Poppins", sans-serif;
}

.p-landWrap .btn-outline-success:hover {
  color: black;
  background-color: aquamarine;
  border-color: aquamarine;
}

.p-landWrap .btn-outline-success:not(:disabled):not(.disabled):active {
  color: black;
  background-color: turquoise;
  border-color: turquoise;
}
/* ------------------------------------------------------------------ */

/* SECOND ROW */
.p-landWrap .p-landGetStarted {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-landWrap .p-landGetStarted > h1 {
  font-family: "New Tegomin", serif;
  color: tomato;
  font-weight: 700;
}

.p-landWrap .p-landGetStarted > a {
  width: 15em;
}

.p-landWrap .justify-content-md-center {
  margin-top: 100px;
}

.p-landWrap .p-landGetStarted > h1 > span.strong {
  color: tomato;
  font-weight: 600;
}
.p-landWrap .p-landGetStarted > h1 > span.weak {
  color: rgb(255, 148, 136);
  font-weight: 1;
}
/* ------------------------------------------------------------------ */
