.c-portalNavBarWrapper {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.c-portalNavBar {
  align-items: baseline;
  border-bottom: 1px solid aquamarine;
}

.c-portalNavBar .navbar-brand {
  font-family: "New Tegomin", serif;
  color: aquamarine;
  font-size: 1.5em;
  align-items: baseline;
}
