.c-typingPageWrap {
  background: url("./fantasy-1920.jpg") no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  min-height: 300px;
  min-width: 300px;
  color: azure;
  overflow: hidden;
}

.c-typingPageWrap .nav {
  justify-content: flex-end;
  align-items: baseline;
}
